@import "variables";
@import "mixins";


/*Mobile first*/
@media (max-width: 180px) {
 .tk-add-friend-button {
 	display: none;
 }
}

@media (max-width: 900px) {
	 .tk-add-friend-button {
	 	margin: 20px !important;
	 }

	.talker{
		display: block;
		.tk-box {
			display: block;
			clear: both;
			width: 100%;
			height: auto;
		}

		.tk-chat-wrapper {
			height: 100% !important;
		}

		.tk-contact-info {
			display: none;
		}
	}
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.u-full-width.tk-absolute {
		@include set-position(absolute,0,0);
		height: 100%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

