<!-- fluid container -->
  <div class="u-full-width tk-absolute animated fadeIn">

  <!-- single row -->
    <div class="row talker">

      <div class="tk-box tk-chat-icons">
          <div class="tk-chat-menu">
              <i class="fa fa-bars"></i>
          </div>
      </div>

      <!-- inbox -->
      <div class="tk-box tk-inbox">
         <div class="tk-inbox-header">
            <h1>Inbox</h1>
            <div class="tk-add-friend-button tk-cicle">
              <span class="hide">Add friend</span>
               <i class="fa fa-user-plus"></i>
            </div>
         </div>
      </div><!--/ inbox -->

      <!-- user list -->
      <div class="tk-box tk-user-list">

        <!-- find user -->
        <div class="u-full-width tk-search-user-wrapper">
          <div class="u-full-width tk-search-user">
            <input type="text" placeholder="Search" id="tk-search-user">
          </div>
        </div><!--/ find user -->

      </div><!--/ user list -->

      <!-- CHAT -->
      <div class="tk-box tk-chat-wrapper">
          <div class="tk-chat-actions-header">

            <div class="tk-action-wrapper">
              <span class="tk-username">Kirsten Mckellar</span>
              <span class="tk-username-action">is typing...</span>
            </div>

            <div class="tk-action-wrapper">
              <span class="tk-action-icon tk-mark-favorite"><i class="fa fa-star"></i></span>
            </div>
            <div class="tk-action-wrapper">
              <span class="tk-action-icon tk-call"><i class="fa fa-phone"></i></span>
            </div>
            <div class="tk-action-wrapper">
              <span class="tk-action-icon tk-videocall"><i class="fa fa-video-camera"></i></span>
            </div>
          
          </div>
      </div><!--/ CHAT -->

      <!-- contact info and user profile -->
      <div class="tk-box tk-contact-info">

        <div class="tk-profile-header">
            <div class="tk-profile-alert">
                <i class="fa fa-bell"></i>
            </div>
            <div class="tk-profile-menu">
                <div class="tk-profile-username">Matt Thompson</div>
            </div>
        </div>
          
      </div><!--/ contact info and user profile -->

    </div><!--/ single row -->

  </div><!--/ fluid container -->